/* Resetting some defaults */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  transition: background-color 0.3s, color 0.3s;
  padding: 0;
  margin: 0;
  background-color: #fff;
}

header {
  background-color: #333;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  color: #fff;
  font-size: 1.8rem;
  font-weight: bold;
}

nav ul {
  display: flex;
  list-style-type: none;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
}

button.toggle-dark-mode {
  background: none;
  border: none;
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
}

section {
  padding: 50px 20px;
  margin: 20px 0;
  opacity: 0;
  transform: translateY(50px);
  animation: fadeIn 1s ease-out forwards;
}

section h1 {
  font-size: 2rem;
  margin-bottom: 10px;
}

section p,
section ul {
  font-size: 1.2rem;
  line-height: 1.5;
}

section ul {
  list-style-type: none;
}

section li {
  margin-bottom: 10px;
}

section i {
  margin-right: 10px;
}

form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

form input,
form textarea {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 15px;
}

form button {
  padding: 12px 20px;
  font-size: 1.1rem;
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

form button:hover {
  background-color: #555;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #333;
  color: #fff;
}

/* Dark Mode */
.dark-mode {
  background-color: #121212;
  color: #e0e0e0;
}

.dark-mode header {
  background-color: #1e1e1e;
}

.dark-mode section {
  background-color: #333;
}

.dark-mode button.toggle-dark-mode {
  color: #e0e0e0;
}

/* Fade-In Animation */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Adjust Section Animations */
#summary {
  animation-delay: 0.3s;
}
#experience {
  animation-delay: 0.6s;
}
#skills {
  animation-delay: 0.9s;
}
#education {
  animation-delay: 1.2s;
}
#contact {
  animation-delay: 1.5s;
}
